{% comment %} <p>Hello from a tutorial snippet!</p> {% endcomment %}

{% comment %} {%  assign  my_variable = 'Hello from tutorial Snippet!' %}
{{ my_variable }} {% endcomment %}

{% comment %} {% assign  myString = 'Hello from tutorial Snippet! ??? 12333' %}
{% assign  myNumber = 12333 %}
{% assign myFloat = 12333.45 %}
{% assign  myBoolean = true %}
{% assign myNull = null %}
{{ myNull }}
{%  if myNumber == null %}
    <p>The variable is null or undefined.</p>
    {% else %}
    <p>The variable has a value.</p>
    {% endif %} {% endcomment %}